.footerAgreement {
    position: relative;
    font-size: 14px;
    color: #999;
    .footerAgreementContent {
        width: 320px;
        margin: 0 auto ;
        a {
            color: #337eff;
            text-decoration: none;
            margin: 0 4px;
          }
          .checkbox {
            margin-right: 10px;
          }
    }
    .footerAgreementLogo {
        display: block;
        height: 16px;
        margin: 10px auto 0;
    }
}
