.chat-input-emoji-content {
  text-align: left;
  overflow: scroll;
  height: 240px;
  background: #f5f6f7;
  padding: 16px 10px 10px 10px;
  position: relative;
  .chat-input-emoji-item-wrapper {
    width: calc(100% / 7);
    margin-bottom: 16px;
    display: inline-block;
    text-align: center;
  }
}
